<!doctype html>
<html ng-app="myApp">

<head>
	<title>Star Wars</title>
	<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<script src="controller.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div class="head"> <!-- head -->
		<h1> Star Wars </h1>
		<h2> Planets in a galaxy far far away... </h2>
	</div>
	<div ng-controller="swapi">
		<div class="form-group">
			<div class="tbackground">
				<label for="Search" class="glyphicon glyphicon-search" rel="tooltip" title="Search"></label> <!-- search box -->
				<input type="text" ng-model="search" id="Search" ng-change="Search(search)" placeholder=" Search" style="border-radius:25px;"><br>
			</div>
		</div>
		<div class="tablemargin">
			<div class="panel table-responsive">
				<table class="table table-curved">

					<thead class="thead">
						<tr> <!--table headers -->
							<th> <a class="tbuttons" ng-click=Sort('name')> Name </a></th>
							<th> <a class="tbuttons" ng-click=Sort('population')>Population </a></th>
							<th> <a class="tbuttons" ng-click=Sort('diameter')>Diameter </a></th>
							<th> <a class="tbuttons" ng-click=Sort('rotation_period')>Rotation Period </a></th>
							<th> <a class="tbuttons" ng-click=Sort('orbital_period')>Orbital Period </a></th>
							<th class="tbuttons">Terrain</th>
							<th class="tbuttons">Films</th>
						</tr>
					</thead>

					<tbody class="tbackground" ng-repeat="planet in planets.results | orderBy: orderByField : reverse ">
						<tr> <!--table contents - one row for each planet -->
							<td>{{planet.name}}</td>
							<td>{{planet.population | number}}</td>
							<td>{{planet.diameter | number}}</td>
							<td>{{planet.rotation_period | number}}</td>
							<td>{{planet.orbital_period | number}}</td>
							<td>{{planet.terrain}}</td>
							<td> {{planet.films}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="nav"> <!-- Navigation buttons -->
			<ul class="pagination pagination-lg">
				<li><a ng-click=firstPage()>First</a></li>
				<li><a ng-if="num > 1"ng-click=previousPage()>«</a></li>
				<li><a class="curpage">{{num}}</a></li>
				<li><a ng-if="num < 7" ng-click=nextPage()>{{num+1}}</a></li>
				<li><a ng-if="num < 7" ng-click=nextPage()>»</a></li>
				<li><a ng-click=lastPage()>Last</a></li>
			</ul>
		</div>
	</div>


</body>
</html>