/*style.css*/


.head {
	background-color: black;
	text-align: center;
	color: white;
	padding: 10px;
	font: arial;
}

.thead{
	background-color: #01BED1;
}

.tbuttons{
	color:white;
}
.tbackground{
	background-color: #E2E9F3;
	padding: 10px;

}
td { 
	width: 14.28571428571429%; /* equally space all 7 rows */
}

.tablemargin{
	margin: 10px;
}

.nav {
	text-align:right;
}

.curpage{
	color: black;
	background-color: #E2E9F3;
}